.App {
    --header_height: 60px;
    position: relative;
    width: 1280px;
    height: 720px;

    background: #FFFFFF;
}

.hw {
    position: relative;
    width: 1280px;
    height: 373px;
    left: 0px;
    top: 131px;
}

.hwTitle {
    position: absolute;
    width: 165px;
    height: 27px;
    left: 70px;
    top: 131px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */


    color: #000000;
}