.greetingForm {
}

.inputAndButtonContainer {
}

.error {
    color: red;
}

.input {
    width: 272px;
    padding: 13px;
    border-radius: 5px;
}

.input:focus {
}

.errorInput {
    border: 1px solid red;
}

.button {
    Width: 78px;
    Height: 36px;
    Top: 1024px;
    Left: 454px;
    Radius: 3px;
    Padding: 5px 24px 5px 24px;
    Gap: 10px;
    background-color: #0066CC;
    color: white;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: 50%;
    background-color: #0066CC;
    color: white;
}

.text {
}

.greeting {
}
