.button {
/*background-color: aqua;*/
}

.disabled {
    background-color: yellow;
}

.secondary {
    color: #cc0000;
    background-color: #00cc22;
}

.default {
   color:  #0066CC;
}

.red {
    background-color: #cc0000;
}

.default:hover {
}

.red:hover {

}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
